.pushable-3d:hover .shadow-3d {
  transform: translateY(4px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable-3d:active .shadow-3d {
  transform: translateY(1px);
  transition: transform 34ms;
}

.pushable-3d:hover .front-3d {
  transform: translateY(-6px);
  transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.pushable-3d:active .front-3d {
  transform: translateY(-2px);
  transition: transform 34ms;
}